.product-page {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pdp-content-container {
  margin: 5px 0 20px 25px;
}

.product-details {
  margin-right: 15px;
  width: 60%;
  flex-grow: 2;
  background: #ffffff;
  border: 1.08px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px rgba(121, 121, 121, 0.0527344);
  border-radius: 4.32px;
}

.product-details img {
  width: 100%;
  max-height: 450px;
  object-fit: contain;
}

.product-details #price-pdp {
  position: relative;
  justify-content: flex-end;
  display: flex;
  margin-top: -30px;
  font-size: 20px;
  line-height: 22px;
}

#price-pdp b {
  background: white;
  padding: 6px 20px;
  border-radius: 10.8px 0px 10.8px 10.8px;
}

#name-pdp {
  font-size: 18.36px;
  line-height: 21px;
}

.badge-pdp .badge {
  cursor: default;
}

#name-pdp span {
  font-size: 14.04px;
  line-height: 16px;
  padding-left: 7px;
  color: #9d9d9d;
}

.location-pdp {
  font-size: 14.04px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: rgba(123, 123, 123, 0.776523);
  margin-bottom: 0.5em;
}

.location-pdp a {
  margin-left: 10px;
  padding-top: 6px;
}

.description-pdp {
  border-top: 1.08px solid rgba(151, 151, 151, 0.166439);
  padding-top: 15px;
  margin-right: 16px;
}

.author-details {
  flex-grow: 1;
}

.author-info-wrap {
  background: #ffffff;
  border: 1px solid #dedee0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 16px;
}

.author-info {
  margin-top: -35px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.author-info p {
  line-height: 21px;
}

.author-name {
  padding-top: 5px;
}

.green-block {
  height: 50px;
  width: 100%;
  background: var(--primary);
  border-radius: 4px 4px 0px 0px;
}

.link-to-user div,
.link-to-user img {
  cursor: pointer !important;
}

.author-details .btn {
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
}

.pdp-user-btn-wrap {
  margin-bottom: 20px;
  display: flex;
}

.addToFavorite-btn {
  background: #ffffff;
  border: 1px solid var(--primary);
  color: #000000;
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: center;
}

.owner-name {
  padding-top: 5px;
}

.chat-link {
  padding: 5px 18px 0;
}

.confirmation-modal-wrap {
  background: #ffffff;
  display: flex;
  height: 100%;
  background: white;
  height: auto;
  box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
  border-radius: 7px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmation-btns {
  display: flex;
  padding-top: 20px;
}

.confirmation-btns button {
  padding: 15px 45px;
  margin: 0 20px;
}