.search-form {
  display: flex;
  justify-content: center;
  margin: 45px auto 0;
}

.search-form input {
  padding: 9px 0 9px 35px;
  font-size: 15px;
  line-height: 31px;
  border-radius: 4px;
}

.search-form input::placeholder {
  font-size: 15px;
  line-height: 31px;
}

#search-input {
  margin-right: 7px;
  flex-grow: 2;
}

#search-input input,
#location-input input {
  width: 100%;
}

#location-input {
  margin-right: 7px;
  flex-grow: 1;
}

#search-icon,
#location-icon {
  position: absolute;
  padding: 16px 0 0 10px;
}

.product-filters {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.217111);
  border-radius: 4px;
  margin: 20px 0 10px;
  display: flex;
  flex-wrap: wrap;
}

.product-filters input,
.product-filters select,
.product-filters button {
  margin: 12px 10px;
}

.product-filters input {
  background: #f9fafb;
  border: 1px solid #dedee0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 9px;
  padding-left: 1.3em;
}

.product-filters input::placeholder {
  font-size: 14px;
}

.dollar {
  margin-left: 17px;
  margin-top: 20px;
  padding: 0;
  position: absolute;
}

.dollar::before {
  content: "$";
}

.clear-filters-wrap {
  display: flex;
  padding: 9px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.217111);
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.selected-filter {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.lessmore-sign {
  color: var(--primary);
  font-weight: 700;
}
