.slider {
  display: flex;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  overflow: hidden;
}

.slider img {
  transition: 0.6s;
}

.slider-item {
  opacity: 0;
  margin-right: -100%;
}

.current {
  opacity: 1;
  margin: 0;
}

.slider-btn {
  position: absolute;
  display: flex;
  align-self: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 22%;
}

.slider-btn:hover {
  cursor: pointer;
  fill: var(--primary);
}

.prev-btn {
  left: 0;
  transform: scaleX(-1);
  z-index: 9;
}

.next-btn {
  right: 0;
}
