footer {
  width: 100%;
  height: 73px;
  background: rgba(192, 196, 206, 0.127321);
  margin-top: auto;
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  font-size: 14.4px;
  line-height: 17px;

  color: #c0c4ce;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div,
footer a {
  margin: 0 10px;
}

main.privacy {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  text-align: justify;
}