button,
.btn {
  background: var(--primary);
  border-radius: 5px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.4px;

  border: 0;
  padding: 0 45px;
  color: #ffffff;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
}

button::-moz-focus-inner {
  border: 0;
}

.right-nav-btns {
  align-items: center;
  display: flex;
}

button:disabled {
  background: #eef0eb;
}

.btn-login {
  font-size: 12px;
  line-height: 40px;

  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 30px;
  color: #2b2b2b;
}

.primary-btn {
  padding: 20px 10px;
  margin: 16px 0 20px;
}

.sell-btn {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 31px;
}

.wishlist-link {
  margin-left: 40px;
}

.upgrade-photo {
  background-color: #ffffff;
  border: 1px solid var(--primary);
  box-sizing: border-box;
  padding: 4px 7px;
  color: var(--primary);
  max-width: 121px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

.upgrade-photo-selected {
  background-color: var(--primary);
  color: #ffffff;
  text-transform: capitalize;
}

.search-btn {
  background: var(--secondary);
  border-radius: 4px;
  font-size: 14px;
  line-height: 31px;
  text-transform: uppercase;
  height: 100%;
}

.clear-filter-btn {
  margin: 0;
  padding: 9px;
  display: flex;
  text-transform: capitalize;
}

.clear-filter-btn svg {
  padding-right: 5px;
}

.filter-btn {
  display: none;
}

.load-more-btn {
  margin: 20px 0;
  padding: 10px;
}

.chat-btn {
  padding: 15px;
  text-transform: uppercase;
}

.remove-btn {
  background: var(--secondary);
}

.btn svg {
  padding-right: 10px;
}