@media screen and (max-width: 768px) {
  #root {
    min-height: 92vh;
  }

  input,
  textarea {
    padding: 15px 10px;
  }

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* TOASTIFY */

  .Toastify__toast {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    color: white;
  }

  .Toastify__progress-bar {
    display: none;
  }

  .Toastify__close-button {
    padding: 0;
  }
  /* NAVBAR */
  .chat-link {
    display: none;
  }

  .sell-btn {
    display: none;
  }

  .top-navbar {
    margin: 0 auto;
  }

  .wishlist-link {
    display: none;
  }

  .hamburger-icon {
    display: flex;
  }

  /* HOMEPAGE */
  .container {
    width: 90vw;
  }

  .white-container {
    width: 100vw;
  }

  .search-form {
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .search-form div {
    padding: 5px;
  }

  #search-input {
    width: 100%;
  }

  #search-input,
  #location-input {
    margin-right: 0;
  }

  .product-filters {
    justify-content: center;
  }

  .product-filters input {
    width: 100%;
  }

  .product-filters input {
    width: 150px;
  }

  .search-btn {
    padding: 10px 15px;
  }

  /* PRODUCT PAGE */
  .product-page {
    flex-direction: column;
  }

  .product-details {
    width: 100%;
    margin: 10px 0;
  }

  .product-thumbnail {
    width: 150px;
  }

  .addToFavorite-btn {
    margin-bottom: 15px;
  }

  .product-details img {
    max-height: 250px;
  }

  .modal-body {
    padding: 20px 1px 0;
  }

  /* LOGIN PAGE */
  .badge-toggler {
    margin-left: 0;
  }

  .btn-login {
    margin-left: 0;
  }

  .login-block {
    width: 90vw;
    margin-top: auto;
  }

  .have-account {
    width: 90vw;
    margin-bottom: 20px;
  }

  /* CHAT */
  .no-chat-selected {
    display: none;
  }

  .chat-list-wrap {
    display: none;
    width: 100vw;
  }

  .messages-wrap {
    width: 100vw;
    position: relative;
  }

  .messages-footer {
    position: absolute;
    bottom: 0;
    width: 98%;
    padding: 0 3px;
  }

  .messages-body {
    height: 69.5vh;
  }

  .product-link {
    display: none;
  }

  .back-btn {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
  }

  .current-chat {
    margin-right: 14px;
    margin-left: 14px;
    border-left: 5px solid var(--primary);
  }

  .chat-item {
    padding: 20px 20px;
  }

  .product-with {
    padding: 0;
    padding-left: 10px;
    width: 30%;
    overflow: hidden;
    border-right: unset;
  }

  .chat-with {
    width: 45%;
  }

  .chat-product-details {
    padding-left: 10px;
  }

  .chat-last-message {
    width: 35vw;
  }

  .message-time {
    flex: unset;
    padding-left: 0;
    text-align: left;
    font-size: 12px;
  }

  .messages-header {
    justify-content: space-between;
  }

  .messaging-with {
    padding-right: 5px;
  }

  .emoji-picker-btn {
    display: none;
  }

  .message-input {
    padding-right: 10px;
  }

  /* CHAT MODAL*/
  .chat-modal-wrap {
    width: 80vw;
  }

  /* SELL PRODUCT PAGE */
  .sell-wrap {
    width: 100%;
    margin-bottom: 20px;
  }

  .upload-product-image {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* PROFILE */

  .profile-block {
    width: 100%;
  }

  .profile-block form {
    margin: 0 20px 30px;
  }
}

@media screen and (max-width: 380px) {
  .product-thumbnail {
    width: 140px;
  }

  .white-container .product-list {
    margin: 0;
  }
}
