@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* CHAT */
  .chat-with {
    order: 1;
  }

  .message-time {
    order: 2;
    padding-left: 5px;
  }

  .chat-last-message {
    width: 23vw;
  }

  .product-with {
    order: 3;
    border: none;
    padding: 10px 0 0;
    width: 100%;
    flex: unset;
  }

  /* REGISTER */

  .login-block {
    margin-top: 10px;
  }
}
